<div class="row wrapper animated fadeInLeft border-bottom white-bg pQuantity-heading">
    <div class="col-lg-8">
        <h2>Invoice</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                Buy Invoice
            </li>
            <li class="active">
                <strong>Refund</strong>
            </li>
        </ol>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight" ng-controller="invoiceRefundBuyCtrl as inv">
            <!-- ########### invoice informations section start ############################################### -->
            <div class="head-title">

            </div>
            <div class="ibox-content">
                <div class="row">
                    <form name="invoiceForm" id="invoiceForm" role="form" ng-submit="addInvoice(invoiceForm)" class="form-horizontal" ng-validate="validateInvoice"
                        novalidate>


                        <div class="row">

                            <div class="form-group col-sm-4">
                                <label class="col-md-3 control-label">
                                    <h4 translate="ADDINVO.ACCOUNT"></h4>
                                </label>
                                <div class="col-md-9 form-group form-group-sm">
                                    <ui-select ng-model="invoice.account" class="ui-select" ng-change="getAccountInvoices()">
                                        <ui-select-match class="matchr" placeholder="Select Account">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="account in (supplierAccounts | filter: $select.search) track by account.id" refresh="searchedAccounts($select.search)"
                                            refresh-delay="0">
                                            <span ng-bind="account.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" ng-value="invoice.account" name="accountInput" class="inputHidden">
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-md-4 control-label">
                                    <h4 translate="">رقم الفاتورة</h4>
                                </label>
                                <div class="col-md-8 form-group form-group-sm">
                                    <ui-select ng-model="invoice.tempInvoice" class="ui-select" ng-change="selectedInvoice()">
                                        <ui-select-match placeholder="Select Invoice">
                                            <span ng-bind="$select.selected.id"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="invoiceNo in (accountInvoices | filter: $select.search) track by invoiceNo.id">
                                            <span ng-bind="invoiceNo.id"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" ng-value="invoice.tempInvoice" name="tempInvoice" class="inputHidden">
                                </div>
                            </div>
                            <div class="form-horizontal col-sm-4">
                                <label class="col-md-5 control-label">
                                    <h4 translate="ADDINVO.PAYMENTTYPE"></h4>
                                </label>
                                <div class="col-md-7 form-group form-group-sm">
                                    <ui-select ng-model="newInvoice.paymentType" class="ui-select">
                                        <ui-select-match placeholder="Select PaymentType">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="payment in (payments | filter: $select.search) track by payment.id">
                                            <span ng-bind="payment.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" value="{{newInvoice.paymentType}}" name="paymentTypeInput" class="inputHidden">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-group-sm col-sm-4" moment-picker="newInvoice.invoiceDate" format="YYYY-MM-DD" start-view="month"
                                today="true">
                                <div class="col-sm-3">
                                    <h4 translate="ADDINVO.INVODATE"></h4>
                                </div>
                                <div class="col-sm-8 input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input class="form-control" placeholder="Select a date" ng-model="newInvoice.invoiceDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

            <!-- ########### products table section start ############################################### -->
            <div class="ibox-title">
                <h5>قائمة المنتجات المضافة</h5>
            </div>
            <div class="table-responsive ibox-content">
                <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">

                <table class="table table-hover table-striped footable" data-paging-container="#paging-ui-container" data-paging-count-format="{CP} of {TP}"
                    data-paging="true" data-paging-size="5" data-filter=#filter>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th class="text-left">Total</th>
                            <th class="text-left">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tempItem in invoiceItems track by $index">

                            <td>{{$index + 1}}</td>
                            <td>
                                <span>{{tempItem.itemName}}</span>

                            </td>
                            <td>
                                <span> {{tempItem.quantity}}</span>
                            </td>
                            <td>
                                <span>{{tempItem.unitPrice| currency: "L.E ":2}}</span>
                            </td>
                            <td class="text-left">
                                <span>{{tempItem.totalNetPrice| currency: "L.E ":2}}</span>
                            </td>
                            <td class="text-left">
                                <button type="submit" data-ng-click="editRow($index)" data-toggle="modal" type="button" data-target="#updateItem" class="btn btn-default">Edit</button>
                                <button type="submit" data-ng-click="deleteRow($index)" class="btn btn-default">Delete</button>
                            </td>
                        </tr>
                        <tr>

                        </tr>
                    </tbody>
                </table>
                <div id="paging-ui-container"></div>
            </div>
            <!-- ########### products table section end ############################################### -->

            <!-- ###########Total pyament and taxes section start ############################################### -->


            <div class=" ibox-content">

                <div class="table">
                    <table class="table table-responsive">
                        <tr class="active">
                            <th class="text-center col-sm-2">Total</th>
                            <td class="text-right">
                                {{totalInvoiceAmount() | currency: "L.E ":2}}
                            </td>
                            <th class="text-left">Grand Total</th>
                            <td class="text-right">
                                {{subTotal() | currency: "L.E ":2}}
                            </td>
                        </tr>
                    </table>

                    <table class="table table-responsive">
                        <tr class="active">
                            <th class="text-center col-sm-2">Paied Amount</th>
                            <td class="text-right">
                                <input type="number" name="paid" size="6" ng-model="newInvoice.paiedAmount" ng-keyup="paidAmountValidate()" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                            </td>
                            <th class="text-center">Outstanding Amount</th>
                            <td class="text-right">
                                {{getinvoiceOutstandingAmount() | currency: "L.E ":2}}
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="">
                    <button class="btn btn-success" ng-click="addInvoice(invoiceForm)" translate="ADDINVO.SAVE"></button>
                    <button class="btn btn-success" ng-click="resetInvoice()" translate="ADDINVO.NEW"></button>
                </div>
            </div>





            <!-- line Item modal -->
            <div class="modal fade" id="updateItem" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h3 class="modal-title">Update Item</h3>
                        </div>
                        <div class="modal-body">

                            <!-- content goes here -->
                            <form name="item2Form" role="form" ng-submit="saveField(item2Form)" ng-validate="validateInvoiceItem2">
                                <div class="form-group">
                                    <label>Item</label>
                                    <ui-select ng-model="editing.itemName" ng-disabled="true" class="ui-select" name="item">
                                        <ui-select-match placeholder="">
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="editing in (invoiceItems | filter: $select.search) track by editing.id">
                                            <span ng-bind="editing"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" value="{{editing.itemName}}" name="hiddenItem" class="inputHidden">
                                </div>
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input type="number" name="quantity" ng-keyup="quantityValidate(editing)" ng-focus="oldQuantity(editing)" data-ng-model="editing.quantity"
                                        class="form-control" />
                                </div>
                                <button ng-if="item2Form.validate()" type="submit" class="btn btn-default">Save</button>
                                <button data-dismiss="modal" ng-click="cancelField()" type="button" class="btn btn-default">Cancle</button>
                            </form>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>