<div class="row wrapper animated fadeInLeft border-bottom white-bg pQuantity-heading">
    <div class="col-lg-8">
        <h2>{{'INVOICE' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html" translate="HOME"></a>
            </li>
            <li>
                {{'SELL_INVOICE' | translate}}
            </li>
            <li class="active">
                <strong>{{'ADD_NEW_INVOICE' | translate}}</strong>
            </li>
        </ol>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight" ng-controller="invoiceSellCtrl as inv">
            <!-- ########### invoice informations section start ############################################### -->
            <div class="head-title">
                <!-- <h5 class="text-title" ng-if="param === 'refund-sell'">مرتجع بيع</h5> -->
                <!-- <h5 class="text-title" ng-if="param === 'buy'">فاتورة شراء</h5>
                <h5 class="text-title" ng-if="param === 'refund-buy'">مرتجع شراء</h5> -->
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form name="invoiceForm" id="invoiceForm" role="form" ng-submit="addInvoice(invoiceForm)" class="form-horizontal" ng-validate="validateInvoice"
                        novalidate>
                        <div class="col-sm-6">

                            <div class="form-horizontal">
                                <label class="col-md-3 control-label">
                                    <h4 translate="PAYMENT_TYPE"></h4>
                                </label>
                                <div class="col-md-9 form-group form-group-sm">
                                    <ui-select ng-model="invoice.paymentType" class="ui-select">
                                        <ui-select-match placeholder="Select PaymentType">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="payment in (payments | filter: $select.search) track by payment.id">
                                            <span ng-bind="payment.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" value="{{invoice.paymentType}}" name="paymentTypeInput" class="inputHidden">
                                </div>

                            </div>
                            <div class="form-horizontal">
                                <label class="col-md-3 control-label">
                                    <h4 translate="ACCOUNT"></h4>
                                </label>
                                <div class="col-md-9 form-group form-group-sm">
                                    <ui-select ng-model="invoice.account" class="ui-select">
                                        <ui-select-match class="matchr" placeholder="Select Account">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="account in (accounts | filter: $select.search) track by account.id" refresh="searchedAccounts($select.search)"
                                            refresh-delay="0">
                                            <span ng-bind="account.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" ng-value="invoice.account" name="accountInput" class="inputHidden">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 text-left">
                            <div class=" form-horizontal">
                                <div class="col-sm-3">
                                    <h4 translate="REFERENCE"></h4>
                                </div>
                                <div class="col-sm-9 form-group form-group-sm">
                                    <input type="text" name="reference" class="form-control input-sm" ng-model="invoice.reference" />
                                </div>

                            </div>
                            <div class="form-group form-group-sm" moment-picker="invoice.invoiceDate" format="YYYY-MM-DD" start-view="month" today="true">
                                <div class="col-sm-3">
                                    <h4 translate="INVOICE_DATE"></h4>
                                </div>
                                <div class="col-sm-8 input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input class="form-control" placeholder="Select a date" ng-model="invoice.invoiceDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>



            <!-- ###########  Add product row start ############################################### -->
            <div class="ibox-title b-r-sm">
                <h5 translate="ADD_NEW_ITEM_TO_INVOICE"></h5>
            </div>
            <div class="ibox-content">
                <form name="itemForm" role="form" ng-submit="addRow(itemForm)" class="form-horizontal" ng-validate="validateInvoiceItem"
                    novalidate>
                    <div class="row">
                        <div class="col-sm-6 form-group form-group-sm">
                            <div class=" col-sm-1">
                                <label class="control-label pull-right" translate="ITEM"></label>
                            </div>
                            <div class=" col-md-11">
                                <ui-select ng-model="invoiceItem.storeItem" class="ui-select" name="item" ng-change="discountUpdate()" required>
                                    <ui-select-match placeholder="">
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="invoiceItem in (items | filter: $select.search) track by invoiceItem.storeItemID" refresh="searcheditems($select.search)"
                                        refresh-delay="0">
                                        <!-- <span ng-bind="invoiceItem.name"></span><br> -->
                                        <h3>
                                            <span class="font-bold" ng-bind-html="invoiceItem.name | highlight: $select.search"></span>
                                        </h3>
                                        <br>
                                        <small style="font-size: 12px">
                                            <span class=" font-bold">Price: </span>
                                            <span ng-bind-html="invoiceItem.price | highlight: $select.search"></span>&nbsp;&nbsp;&nbsp;
                                            <span class="font-bold">expiry Date:</span>
                                            <span ng-bind-html="invoiceItem.expiryDate | highlight: $select.search"></span>
                                        </small>

                                    </ui-select-choices>
                                </ui-select>
                                <input type="hidden" value="{{invoiceItem.storeItem}}" name="hiddenItem" class="inputHidden">

                            </div>
                        </div>
                        <div class=" col-sm-3 form-group" ng-show="invoiceItem.storeItem">
                            <label class="col-sm-5 control-label" translate="DISCOUNT_%"></label>
                            <div class="col-md-7">
                                <div class="input-group input-group-sm">
                                    <input type="number" placeholder="" name="discount" class="form-control" ng-model="invoiceItem.discountPercentage">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 form-group" ng-show="invoiceItem.storeItem">
                            <label class="col-md-5 control-label" class="" translate="QUANTITY"></label>
                            <div class="col-md-7 input-group-sm">
                                <input type="number" name="quantity" placeholder="" ng-focus="availableQuantityAlert(invoiceItem)" data-ng-keyup="quantityValidate(invoiceItem)"
                                    ng-model="invoiceItem.quantity" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row bg-muted">

                        <div class="col-sm-4 form-group">
                            <div class=" col-md-7">
                                <label style="font-size: 14px" class="pull-right control-label" translate="PUBLIC_PRICE"></label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="publicPrice" ng-value="invoiceItem.unitPrice=invoiceItem.storeItem.price" placeholder="" class="form-control input-sm"
                                    ng-model="invoiceItem.unitPrice" style="background-color: transparent; border: none" readonly>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <div class=" col-md-5">
                                <label style="font-size: 14px" class="pull-right control-label" translate="TOTAL"></label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" name="netPrice" ng-value="invoiceItem.totalPrice=invoiceItem.unitPrice * invoiceItem.quantity" placeholder=""
                                    class="form-control input-sm" ng-model="invoiceItem.totalPrice" style="background-color: transparent; border: none"
                                    readonly>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <div class=" col-md-7">
                                <label style="font-size: 14px" class="pull-right control-label" translate="NET_PRICE"></label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" ng-bind="invoiceItem.totalNetPrice = priceAfterDiscount(invoiceItem.totalPrice, invoiceItem.discountPercentage)"
                                    placeholder="" ng-model="invoiceItem.totalNetPrice" class="form-control input-sm" style="background-color: transparent; border: none"
                                    readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" text-left" style="width: 100%">
                            <button style="width: 100%; font-size: 15px" class="btn btn-success" type="submit">
                                <b translate="ADD_ITEM"></b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>


            <!-- ########### products table section start ############################################### -->
            <div class="ibox-title">
                <h5 translate="ADDED_ITEMS_LIST"></h5>
            </div>
            <div class="table-responsive ibox-content">
                <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">

                <table class="table table-hover table-striped footable" data-paging-container="#paging-ui-container" data-paging-count-format="{CP} of {TP}"
                    data-paging="true" data-paging-size="5" data-filter=#filter>
                    <thead>
                        <tr>
                            <th translate="NO"></th>
                            <th translate="ITEM"></th>
                            <th translate="QUANTITY"></th>
                            <th translate="PRICE"></th>
                            <th translate="TOTAL" class="text-left"></th>
                            <th translate="EDIT/DELETE" class="text-left"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tempItem in invoiceItems track by $index">

                            <td>{{$index + 1}}</td>
                            <td>
                                <span>{{tempItem.storeItem.name}}</span>

                            </td>
                            <td>
                                <span> {{tempItem.quantity}}</span>
                            </td>
                            <td>
                                <span>{{tempItem.unitPrice | currency:"":2}}</span><span> {{'L.E' | translate}}</span>
                            </td>
                            <td class="text-left">
                                <span>{{tempItem.totalNetPrice | currency:"":2}}</span><span> {{'L.E' | translate}}</span>
                            </td>
                            <td class="text-left">
                                <button type="submit" data-ng-click="editRow($index)" data-toggle="modal" type="button" data-target="#updateItem" class="btn btn-default"
                                    translate="EDIT"></button>
                                <button type="submit" data-ng-click="deleteRow($index)" class="btn btn-default" translate="DELETE"></button>
                            </td>
                        </tr>
                        <tr>

                        </tr>
                    </tbody>
                </table>
                <div id="paging-ui-container"></div>
            </div>
            <!-- ########### products table section end ############################################### -->

            <!-- ###########Total pyament and taxes section start ############################################### -->


            <div class=" ibox-content">

                <div class="table">
                    <table class="table table-responsive">
                        <tr class="active">
                            <th class="text-left" translate="TOTAL"></th>
                            <td class="text-right">
                                {{totalInvoiceAmount() | currency:"":2}} <span>{{'L.E' | translate}}</span>
                            </td>
                            <th class="text-left" translate="SUB_TOTAL"></th>
                            <td class="text-right">
                                {{subTotal() | currency:"":2}} <span>{{'L.E' | translate}}</span>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-responsive pull-right" id="tab_logic_total">
                        <tbody>
                            <tr>
                                <td class="table col-md-6">
                                    <table class="table table-sm table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <th colspan="5" class="text-center success" translate="TAXES"></th>
                                            </tr>
                                            <tr>
                                                <th>#</th>
                                                <th translate="NAME"></th>
                                                <th translate="PERCENT"></th>
                                                <th translate="VALUE"></th>
                                                <th translate="COST_WITH_TAX"></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-hide="settings.tax1Value == 0">
                                                <td>
                                                    <input icheck type="checkbox" ng-model="ckb.tax1">
                                                </td>
                                                <td>{{settings.tax1Name}}</td>
                                                <td>{{settings.tax1Value}}</td>
                                                <td>{{ckb.tax1 ? taxes.tax1 : 0}}</td>
                                                <td>{{ckb.tax1 ? taxes.tax1 + subTotal() : 0}}</td>
                                            </tr>

                                            <tr ng-hide="settings.tax2Value == 0">
                                                <td>
                                                    <input icheck type="checkbox" ng-model="ckb.tax2">
                                                </td>
                                                <td>{{settings.tax2Name}}</td>
                                                <td>{{settings.tax2Value}}</td>
                                                <td>{{ckb.tax2 ? taxes.tax2 : 0}}</td>
                                                <td>{{ckb.tax2 ? taxes.tax2 + subTotal() : 0}}</td>
                                            </tr>

                                            <tr ng-hide="settings.tax3Value == 0">
                                                <td>
                                                    <input icheck type="checkbox" ng-model="ckb.tax3">
                                                </td>
                                                <td>{{settings.tax3Name}}</td>
                                                <td>{{settings.tax3Value}}</td>
                                                <td>{{ckb.tax3 ? taxes.tax3 : 0}}</td>
                                                <td>{{ckb.tax3 ? taxes.tax3 + subTotal() : 0}}</td>
                                            </tr>

                                            <tr ng-hide="settings.tax4Value == 0">
                                                <td>
                                                    <input icheck type="checkbox" ng-model="ckb.tax4">
                                                </td>
                                                <td>{{settings.tax4Name}}</td>
                                                <td>{{settings.tax4Value}}</td>
                                                <td>{{ckb.tax4 ? taxes.tax4 : 0}}</td>
                                                <td>{{ckb.tax4 ? taxes.tax4 + subTotal() : 0}}</td>
                                            </tr>

                                            <tr ng-hide="settings.tax5Value == 0">
                                                <td>
                                                    <input icheck type="checkbox" ng-model="ckb.tax5">
                                                </td>
                                                <td>{{settings.tax5Name}}</td>
                                                <td>{{settings.tax5Value}}</td>
                                                <td>{{ckb.tax5 ? taxes.tax5 : 0}}</td>
                                                <td>{{ckb.tax5 ? taxes.tax5 + subTotal() : 0}}</td>
                                            </tr>
                                            <tr ng-hide="emptyTaxes() == false">
                                                <td>#</td>
                                                <td translate="TOTAL_"></td>
                                                <td>{{getTotalPercentTaxes()}}</td>
                                                <td>{{getTotalTaxes()}}</td>
                                                <td>{{getTotalAmountAfterTaxes()}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="table col-md-6">

                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th colspan="5" class="text-center success" translate="DISCOUNTS"></th>
                                            </tr>
                                            <tr>
                                                <th>#</th>
                                                <th translate="NAME"></th>
                                                <th translate="PERCENT"></th>
                                                <th translate="VALUE"></th>
                                                <th translate="COST_WITH_DISCOUNT"></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-hide="settings.discount1Valu == 0">
                                                <td>
                                                    <input icheck type="checkbox" ng-model="dis1ckb">
                                                </td>
                                                <td>{{settings.discount1Name}}</td>
                                                <td>{{settings.discount1Valu}}</td>
                                                <td>{{dis1ckb ? dis.discount1 : 0}}</td>
                                                <td>{{dis1ckb ? subTotal() - dis.discount1 : 0}}</td>
                                            </tr>
                                            <tr ng-hide="settings.discount2Valu == 0">
                                                <td>
                                                    <input icheck type="checkbox" ng-model="dis2ckb">
                                                </td>
                                                <td>{{settings.discount2Name}}</td>
                                                <td>{{settings.discount2Valu}}</td>
                                                <td>{{dis2ckb ? dis.discount2 : 0}}</td>
                                                <td>{{dis2ckb ? subTotal() - dis.discount2 : 0}}</td>
                                            </tr>
                                            <tr ng-hide="emptyDiscounts() == false">
                                                <td>#</td>
                                                <td translate="TOTAL_"></td>
                                                <td>{{getTotalPercentDiscount()}}</td>
                                                <td>{{getTotalPercentDiscount()}}</td>
                                                <td>{{getTotalAmountAfterDiscount()}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>



                            </tr>

                            <tr>

                            </tr>

                            <tr>

                            </tr>
                            <tr>

                            </tr>
                            <!-- ###########Total pyament and taxes section end ############################################### -->
                        </tbody>
                    </table>
                    <table class="table table-responsive">
                        <tr class="active">
                            <th class="text-left" translate="GRAND_TOTAL"></th>
                            <td class="text-right">
                                {{calculateGrandTotal() | currency:"":2}} <span>{{'L.E' | translate}}</span>
                            </td>
                            <th class="text-left" translate="PAID_AMOUNT"></th>
                            <td class="text-right">
                                <input type="number" name="paid" size="6" ng-model="invoice.paiedAmount" ng-keyup="paidAmountValidate()" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                            </td>
                            <th class="text-left" translate="OUTSTANDING_AMOUNT"></th>
                            <td class="text-right">
                                {{getinvoiceOutstandingAmount() | currency:"":2}} <span>{{'L.E' | translate}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="">
                    <button class="btn btn-success" ng-click="addInvoice(invoiceForm)" translate="SAVE_INVOICE"></button>
                    <button class="btn btn-success" ng-click="resetInvoice()" translate="NEW_INVOICE"></button>
                </div>
            </div>





            <!-- line Item modal -->
            <div class="modal fade" id="updateItem" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h3 class="modal-title" translate="UPDATE_ITEM"></h3>
                        </div>
                        <div class="modal-body">

                            <!-- content goes here -->
                            <form name="item2Form" role="form" ng-submit="saveField(item2Form)" ng-validate="validateInvoiceItem2">
                                <div class="form-group">
                                    <label translate="ITEM"></label>
                                    <ui-select ng-model="editing.storeItem" ng-disabled="true" class="ui-select" name="item">
                                        <ui-select-match placeholder="">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="editing in (Items | filter: $select.search) track by editing.itemId" refresh="searchedItems($select.search)"
                                            refresh-delay="0">
                                            <span ng-bind="editing.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" value="{{editing.storeItem}}" name="hiddenItem" class="inputHidden">
                                </div>
                                <div class="form-group">
                                    <label translate="QUANTITY"></label>
                                    <input type="number" name="quantity" ng-focus="availableQuantityAlert(editing)" ng-keyup="quantityValidate(editing)" data-ng-model="editing.quantity"
                                        class="form-control" />
                                </div>
                                <button ng-if="item2Form.validate()" type="submit" class="btn btn-default" translate="SAVE"></button>
                                <button data-dismiss="modal" ng-click="cancelField()" type="button" class="btn btn-default" translate="CANCEL"></button>
                            </form>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>

            <!-- line store modal -->
            <div class="modal fade" id="addStore" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h3 class="modal-title" translate="ADD_NEW_STORE"></h3>
                        </div>
                        <div class="modal-body">

                            <!-- content goes here -->
                            <form ng-submit="addStore()">
                                <div class="form-group">
                                    <label for="name" translate="STORE_NAME"></label>
                                    <input type="text" class="form-control" id="name" placeholder="Store Name" ng-model="store.name">
                                </div>
                                <div class="form-group">
                                    <label for="name" translate="NOTES"></label>
                                    <textarea name="note" id="note" rows="3" class="form-control" ng-model="store.note"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default" translate="SAVE"></button>
                            </form>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>