<!-- Toaster Containers with Options -->
<toaster-container toaster-options="{
    'close-button': true, 
    'debug': false, 
    'newest-on-top': true,
    'progress-bar': false,
    'position-class': 'toast-top-left', 
    'onclick': null, 
    'show-duration':'200', 
    'hide-duration': '1000', 
    'time-out': '3000', 
    'extended-time-out': '1000', 
    'show-easing': 'swing', 
    'hide-easing': 'linear',
    'show-method': 'fadeIn', 
    'hide-method': 'fadeOut' }"></toaster-container>
<toaster-container toaster-options="{ 
    'toaster-id': 2,
    'position-class': 'toast-top-right'
}"></toaster-container>