<!DOCTYPE html>
<html ng-app="wms">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Jquery Links -->
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/jquery/jquery.slim.js"></script>

    <!-- BootStrap Links -->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- <link href="css/modal-default.css" rel="stylesheet"> -->


    <!-- Angularjs core -->
    <script src="vendor/angularjs/angular.js"></script>
    <script src="/vendor/angularjs/angular-route.js"></script>
    <script src="/vendor/angularjs/angular-ui-router.min.js"></script>
    <script src="/js/angular/app/app.js"></script>
    <script src="/js/angular/app/services/dataService.js"></script>
    <script src="/js/angular/app/controller/account.js"></script>

</head>

<body ng-controller="account">

    <section>
        <div class="container">

            <form ng-submit="">
                <br>
                <h3>Account Information</h3>

                <div class="row form-group">
                    <div class="col-sm-4">
                        <label for="account-name" class="control-label">Name:</label>
                        <input type="text" class="form-control" id="account-name" ng-model="account-name">
                    </div>
                    <div class="col-sm-4">
                        <label for="account-code" class="control-label">Code:</label>
                        <input type="text" class="form-control" id="account-code" ng-model="account-code">
                    </div>
                    <div class="col-sm-4">
                        <label for="account-type">Account type</label>
                        <select class="custom-select" name="invo-type" id="account-type">
                            <option selected></option>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-6">
                        <label for="account-email" class="control-label">Email:</label>
                        <input type="email" class="form-control" id="account-email" ng-model="account-email">
                    </div>
                    <div class="col-sm-6">
                        <label for="account-phone" class="control-label">Phone Number:</label>
                        <input type="text" class="form-control" id="account-phone" ng-model="account-phone">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-4">
                        <label for="account-address" class="control-label">Address:</label>
                        <input type="text" class="form-control" id="account-address" ng-model="account-address">
                    </div>
                    <div class="col-sm-4">
                        <label for="account-city" class="control-label">City:</label>
                        <input type="text" class="form-control" id="account-city" ng-model="account-city">
                    </div>

                    <div class="col-sm-4">
                        <label for="account-status" class="control-label">State:</label>
                        <input type="text" class="form-control" id="account-status" ng-model="account-state">
                    </div>

                </div>
                <div class="row  form-group">
                    <div class="col-sm-12">
                        <label for="account-info">Extra Informations:</label>
                        <div class="">
                            <textarea rows="5" class="form-control" id="account-info" ng-model="account-info"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div>
                        <button type="submit" class="btn btn-primary col-sm-2">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

</body>

</html>