<!DOCTYPE html>
<html ng-app="wms" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/selectListItems.css">
</head>

<body ng-controller="user-controller">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Add User:</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="fname">First Name</label>
              <input class="form-control" type="text" placeholder="Enter your first name" ng-model="fname">
            </div>
            <div class="form-group col-md-6">
              <label for="lname">Last Name</label>
              <input class="form-control" type="text" placeholder="Enter your last name" ng-model="lname">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="phone">Phone</label>
              <input class="form-control" type="text" placeholder="Enter your phone" ng-model="phone">
            </div>
            <div class="form-group col-md-6">
              <label for="addredd">Address</label>
              <input class="form-control" type="text" placeholder="Enter your address" ng-model="address">
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-6">
              <label for="username">User Name</label>
              <input class="form-control" type="text" placeholder="Enter your user name" ng-model="username">
            </div>
            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input class="form-control" type="password" placeholder="Password" ng-model="password" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="rolemenu">Select Role:</label>
              <select class="custom-select" name="rolemenu" id="rolemenu">
                <option selected>Select one</option>
                <option value="">Role1</option>
                <option value="">Role2</option>
                <option value="">Role3</option>
              </select>
            </div>
          </div>
          <!-- Start List Select Menus -->
            <div class="subject-info-box-1">
              <select multiple="multiple" id='lstBox1' class="form-control">
                <option ng-repeat="menu in menus">{{menu.id}} - {{menu.title}}</option>

              </select>
            </div>
            <div class="subject-info-arrows text-center">
              <input type="button" id="btnAllRight" value=">>" class="btn btn-default" />
              <br />
              <input type="button" id="btnRight" value=">" class="btn btn-default" />
              <br />
              <input type="button" id="btnLeft" value="<" class="btn btn-default" />
              <br />
              <input type="button" id="btnAllLeft" value="<<" class="btn btn-default" />
            </div>

            <div class="subject-info-box-2">
              <select multiple="multiple" id='lstBox2' class="form-control">
                <option></option>

              </select>
            </div>
            <div class="clearfix"></div>



          <div class="col-md-3">
            <label></label>
            <input class="btn btn-primary btn-block" type="submit" ng-click="addUser()" value="Save">
          </div>
      </div>
    </div>
    </form>
  </div>
  </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Angularjs core -->
  <!-- <script src="vendor/angularjs/angular-route.js"></script> -->
  <script src="vendor/angularjs/angular.js"></script>
  <script src="/js/angular/app/app.js"></script>
  <script src="/vendor/angularjs/angular-route.js"></script>
  <script src="/vendor/angularjs/angular-ui-router.min.js"></script>
  <script src="/app/services/dataService.js"></script>
  <script src="/app/controller/user-controller.js"></script>
  <!--<script src="/js/jquery/selectListItem.js"></script>-->
</body>

</html>