<!DOCTYPE html>
<html ng-app="wms">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Jquery Links -->
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/jquery/jquery.slim.js"></script>
    <!-- Popper.js -->
    <script src="https://unpkg.com/popper.js"></script>

    <!-- BootStrap Links -->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- bootstrap dropdown live seach  -->
    <link rel="stylesheet" href="/vendor/bootstrap-select-1.13.0-beta/css/bootstrap-select.css">
    <script src="/vendor/bootstrap-select-1.13.0-beta/js/bootstrap-select.js"></script>

    <!-- Custome Styles -->
    <link rel="stylesheet" href="/css/styles.css">


    <!-- Angularjs core -->
    <script src="vendor/angularjs/angular.js"></script>
    <script src="/vendor/angularjs/angular-route.js"></script>
    <script src="/vendor/angularjs/angular-ui-router.min.js"></script>
    <script src="/js/angular/app/app.js"></script>
    <script src="/js/angular/app/services/dataService.js"></script>
    <script src="/js/angular/app/controller/invoice.js"></script>


</head>

<body ng-controller="invoice-controller">
    <div class="container">

        <h2>New Invoice</h2>
        <hr>
        <!-- Basic Invoice Informations -->
        <section>
            <h3>Invoice Info</h3>
            <div class="row form-group">
                <div class="col-sx-1">
                    <label for="invo-refrence" class="col-form-label">Refrence:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <input type="text" class="form-control" id="invo-refrence" placeholder="Refrence Number" g-model="invo-refrence">
                </div>
                <div class="col-sx-1">
                    <label for="invo-typeid" class="col-form-label">Type:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <select class="custom-select" name="invo-typeid" id="invo-typeid">
                        <option selected></option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-sx-1">
                    <label for="branch-id" class="col-form-label">Branch:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <select class="custom-select" name="branch-id" id="branch-id">
                        <option selected></option>
                        <option value=""></option>
                    </select>
                </div>

            </div>

            <div class="row form-group">
                <div class="col-sx-1">
                    <label for="trans-date" class="col-form-label">Transaction Date:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <input type="date" class="form-control" id="trans-date" ng-model="trans-date">
                </div>
                <div class="col-sx-1">
                    <label for="invo-accountid" class="col-form-label">Account:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <select class="custom-select" name="invo-accountid" id="invo-accountid">
                        <option selected></option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-sx-1">
                    <label for="invo-storeid" class="col-form-label">Store:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <select class="custom-select" name="invo-storeid" id="invo-storeid">
                        <option selected></option>
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </section>
        <hr>
        <!-- Discount Section -->
        <section>
            <h3>Disccount</h3>
            <div class="row form-group">
                <div class="col-sx-1">
                    <label for="invo-cashtype" class="col-form-label">Cash Type:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <select class="custom-select" name="invo-cashtype" id="invo-cashtype">
                        <option selected></option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-sx-1">
                    <label for="invo-disper" class="col-form-label">Discount Per:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3-2">
                    <input type="text" class="form-control" id="invo-disper" ng-model="invo-disper">
                </div>
                <div class="col-sx-1">
                    <label for="invo-disval" class="col-form-label">Discount Value:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <input type="text" class="form-control" id="invo-disval" ng-model="invo-disval">
                </div>
            </div>
        </section>
        <hr>
        <!-- Taxes Section -->
        <section>
            <h3>Taxes:</h3>

            <div class="row form-group">
                <div class="col-sx-1">
                    <label class="col-form-label input-group-text">Tax1</label>
                </div>
                <label for="tax1per" class="col-form-label">Percentage:</label>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <input type="text" class="form-control" id="tax1per" ng-model="tax1per">
                </div>
                <label for="tx1val" class="col-form-label">Value:</label>
                <div class="col-sx-1  col-md-2 col-lg-3">
                    <input type="text" class="form-control" id="tax1val" ng-model="tax1val">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sx-1">
                    <label class="col-form-label input-group-text">Tax2</label>
                </div>
                <label for="tax2per" class="col-form-label">Percentage:</label>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <input type="text" class="form-control" id="tax2per" ng-model="tax2per">
                </div>
                <label for="invo-tx1val" class="col-form-label">Value:</label>
                <div class="col-sx-1  col-md-2 col-lg-3">
                    <input type="text" class="form-control" id="invo-tax1val" ng-model="tax2val">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sx-1">
                    <label class="col-form-label input-group-text">Tax3</label>
                </div>
                <label for="tax3per" class="col-form-label">Percentage:</label>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <input type="text" class="form-control" id="tax3per" ng-model="tax3per">
                </div>
                <label for="invo-tx1val" class="col-form-label">Value:</label>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <input type="text" class="form-control" id="tax3val" ng-model="tax3val">
                </div>
            </div>
        </section>
        <hr>
        <!-- Add Products Section -->
        <section>
            <h3>Products</h3>
            <div class="row form-group">
                <div class="col-sx-1">
                    <label for="invo-new-pro" class="col-form-label">Add New Products:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <select class="selectpicker form-control" data-live-search="true" ng-options="menu as menu.id +' - '+ menu.title for menu in menus" ng-model="selected">
                        <option >{{menu}}</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sx-1">
                    <label for="quantity" class="col-form-label">Quantity:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <input type="number" class="form-control" id="quantity" ng-model="quantity">                    
                </div>
                <div class="col-sx-1">
                    <label for="invo-buy-price" class="col-form-label">Buy Price:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <input type="number" class="form-control" id="invo-buy-price" ng-model="buyprice">
                </div>
                <div class="col-sx-1">
                    <label for="invo-sell-price" class="col-form-label">Sell Price:</label>
                </div>
                <div class="col-sx-1 col-md-2 col-lg-3">
                    <input type="number" class="form-control" id="invo-sell-price" ng-model="sellprice">
                </div>
                <button type="button" name="" id="" class="btn btn-primary" btn-lg btn-block ng-click="insert(quantity, buyprice, sellprice)">Add</button>
            </div>

        </section>
        <hr>
        <!-- Table view products Section -->
        <section>
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header">
                            <h3 class="text-xs-center">
                                <strong>Order summary</strong>
                            </h3>
                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-sm table-products">
                                    <thead>
                                        <tr>
                                            <td>
                                                <strong>Name</strong>
                                            </td>
                                            <td class="text-xs-center">
                                                <strong>Quantity</strong>
                                            </td>
                                            <td class="text-xs-center">
                                                <strong>Buy Price</strong>
                                            </td>
                                            <td class="text-xs-center">
                                                <strong>Sell Price</strong>
                                            </td>
                                            <td class="text-xs-right">
                                                <strong>Total</strong>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in data">
                                            <td >{{selected.title}}</td>
                                            <td class="text-xs-center">{{x.quantity}}</td>
                                            <td class="text-xs-center">{{x.buyprice}}</td>
                                            <td class="text-xs-center">{{x.sellprice}}</td>
                                            <td ng-model="total" class="text-xs-right">{{x.total}}</td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow text-xs-center">
                                                <strong>Subtotal</strong>
                                            </td>
                                            <td ng-model="subtot" class="highrow text-xs-right">{{getTotal()}}</td>
                                        </tr>
                                        <tr>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow text-xs-center">
                                                <strong>Taxes</strong>
                                            </td>
                                            <td class="emptyrow text-xs-right"   ng-model="taxess">{{taxtotalval(tax1val,tax2val,tax3val)}}</td>
                                            <td class="emptyrow text-xs-right">{{taxtotalval(tax1per,tax2per,tax3per) | percentage:2}}</td>
                                        </tr>
                                        <tr>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow text-xs-center">
                                                <strong>Discount</strong>
                                            </td>
                                            <td class="emptyrow text-xs-right">$20</td>
                                        </tr>
                                        <tr>
                                            <td class="emptyrow">
                                                <i class="fa fa-barcode iconbig"></i>
                                            </td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow text-xs-center">
                                                <strong>Total</strong>
                                            </td>
                                            <td class="emptyrow text-xs-right">{{totaly((taxtotalval(tax1val,tax2val,tax3val)),getTotal())}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <hr>

        <hr>



        <div class="col-md-3">
            <label></label>
            <input class="btn btn-primary btn-block" type="submit" ng-click="insertData()" value="Save">
        </div>

    </div>

</body>

</html>