

        <div class="container bg-dark" ng-controller="login-controller" class="bg-dark">
              
            <div class="card card-login mx-auto mt-5" ng-controller="login-controller" class="bg-dark">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form id="loginform" name="loginform" ng-submit="login()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input class="form-control" ng-model="username" type="text" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input class="form-control" ng-model="password" type="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <!-- <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox"> Remember Password</label> -->
                            </div>
                        </div>
                        <!-- <a class="btn btn-primary btn-block" id="loginbtn" href="index.html">Login</a> -->
                        <button class="btn btn-primary btn-block" ng-click="test()" type="submit">Login!</button>
                    </form>
                    <div class="text-center">
                        <a class="d-block small mt-3" href="register.html">Register an Account</a>
                        <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- <script src="js/loginPlugin.js"></script> -->
