
<div class="wrapper wrapper-content" ng-controller="settingsCtrl">
    <div class="row" style="margin-top:10px;">
        <div class=" well well-sm  bg-white borderZero" uib-dropdown>
            <div class="btn-group date-block btn-group-justified font-small dropdown" data-toggle="buttons">
                <label href="#home" data-toggle="tab" class="btn btn-default  next font-small semiBold" title="Next Day" style="font-size:18px; border-radius:0;">
                     {{'SETTINGS.PERSONALINFO' | translate}}
                </label>
                <label href="#taxes" data-toggle="tab" class="btn btn-default previous text-right font-small semiBold" title="Previous Day"
                    style="font-size:18px;">
                     {{'SETTINGS.TAXES' | translate}}
                </label>
                <label href="#discounts" data-toggle="tab" class="btn date-buttons btn-default text-right semiBold" style="font-size:18px;">
                    {{'SETTINGS.DISCOUNTS' | translate}}
                </label>
                
                <label ng-click="saveSettings()" class="btn date-buttons btn-success text-right semiBold dropdown-toggle" style="font-size:12px;">
                    <i class="fa fa-2x fa-save"></i><span class="font-bold" style="font-size: 18px">&nbsp; حفظ&nbsp;</span>
                </label>
            </div>

        </div>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <div class="">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="">
                                <div class="ibox float-e-margins">
                                    <!-- <div class="ibox-title">
                                        <h5>{{'SETTINGS.PERSONALINFO' | translate}}
                                            <small translate="SETTINGS.DESCRIPTION"></small>
                                        </h5>
                                    </div> -->
                                    <div class="wrapper">
                                        <div class="row">
                                            <form class="form-horizontal">
                            
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" translate="SETTINGS.COMPANYNAME"></label>
                                                    <div class="col-md-10">
                                                        <input type="text" placeholder="" class="form-control" ng-model="settings.compnayName">
                                                        <span class="help-block m-b-none"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" translate="SETTINGS.MOBILE1"></label>
                                                    <div class="col-md-10">
                                                        <input type="text" placeholder="" class="form-control" ng-model="settings.mobile1">
                                                        <span class="help-block m-b-none"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" translate="SETTINGS.MOBILE2"></label>
                                                    <div class="col-md-10">
                                                        <input type="text" placeholder="" class="form-control" ng-model="settings.mobile2">
                                                        <span class="help-block m-b-none"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" translate="SETTINGS.PHONE1"></label>
                                                    <div class="col-md-10">
                                                        <input type="text" placeholder="" class="form-control" ng-model="settings.phone1">
                                                        <span class="help-block m-b-none"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" translate="SETTINGS.PHONE2"></label>
                                                    <div class="col-md-10">
                                                        <input type="text" placeholder="" class="form-control" ng-model="settings.phone2">
                                                        <span class="help-block m-b-none"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" translate="SETTINGS.EMAIL"></label>
                                                    <div class="col-md-10">
                                                        <input type="email" placeholder="" class="form-control" ng-model="settings.email">
                                                        <span class="help-block m-b-none"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" translate="SETTINGS.ADDRESS"></label>
                                                    <div class="col-md-10">
                                                        <textarea type="text" placeholder="" class="form-control" ng-model="settings.address"></textarea>
                                                        <span class="help-block m-b-none"></span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="taxes">
                <div class="ibox-content">
                    <form class="form-horizontal">
                
                        <table class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th>رقم</th>
                                    <th>اسم الضريبة</th>
                                    <th>القيمة</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <input type="text" placeholder="" class="form-control" ng-model="settings.tax1Name">
                                    </td>
                                    <td>
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">%</span>
                                            <input type="number" placeholder="" class="form-control" ng-model="settings.tax1Value">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <input type="text" placeholder="" class="form-control" ng-model="settings.tax2Name">
                                    </td>
                                    <td>
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">%</span>
                                            <input type="number" placeholder="" class="form-control" ng-model="settings.tax2Value">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <input type="text" placeholder="" class="form-control" ng-model="settings.tax3Name">
                                    </td>
                                    <td>
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">%</span>
                                            <input type="number" placeholder="" class="form-control" ng-model="settings.tax3Value">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <input type="text" placeholder="" class="form-control" ng-model="settings.tax4Name">
                                    </td>
                                    <td>
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">%</span>
                                            <input type="number" placeholder="" class="form-control" ng-model="settings.tax4Value">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <input type="text" placeholder="" class="form-control" ng-model="settings.tax5Name">
                                    </td>
                                    <td>
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">%</span>
                                            <input type="number" placeholder="" class="form-control" ng-model="settings.tax5Value">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <button type="button" class="btn btn-success" style="width: 120px" ng-click="addTaxes()">Save</button> -->
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="discounts">
                <div class="ibox-content">
                    <form class="form-horizontal">
                
                        <table class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th>رقم</th>
                                    <th>نوع الخصم</th>
                                    <th>القيمة</th>
                                </tr>
                            </thead>
                            <tbody>
                
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <input type="text" placeholder="" class="form-control" ng-model="settings.discount1Name">
                                    </td>
                                    <td>
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">%</span>
                                            <input type="number" placeholder="" class="form-control" ng-model="settings.discount1Valu">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <input type="text" placeholder="" class="form-control" ng-model="settings.discount2Name">
                                    </td>
                                    <td>
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">%</span>
                                            <input type="number" placeholder="" class="form-control" ng-model="settings.discount2Valu">
                                        </div>
                                    </td>
                                </tr>
                
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
